<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>edit</title>
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <form method="POST" class="post-form" action="/update/{{Student.student_id}}">
        {% csrf_token %}
        <div class="container">
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-4">
                        <h3>Update Details</h3>
                    </div>
                
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">学籍番号:</label>
                <div class="col-sm-4">
                    <input type="text" name="student_id" id="id_student_id" required maxlength="20" value="{{Student.student_id}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">名前:</label>
                <div class="col-sm-4">
                    <input type="text" name="student_name" id="id_student_name" required maxlength="100" value="{{Student.student_name}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">電話番号:</label>
                <div class="col-sm-4">
                    <input type="text" name="student_number" id="id_student_number" required maxlength="15" value="{{Student.student_number}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-4">
                    <input type="email" name="student_email" id="id_student_email" required maxlength="254" value="{{Student.student_email}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">更新</button>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <button class="btn btn-primary"><a href="/show">戻る</a></button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>