<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>edit</title>
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <form method="POST" class="post-form" action="/update/{{gakuseikanri.id}}">
        {% csrf_token %}
        <div class="container">
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-4">
                        <h3>Update Details</h3>
                    </div>
                
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">学籍番号:</label>
                <div class="col-sm-4">
                    <imput type="text" name="eid" id="id_eid" required maxlength="20" value="{{gakuseikanri.eid}}"></imput>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">名前:</label>
                <div class="col-sm-4">
                    <imput type="text" name="ename" id="id_ename" required maxlength="100" value="{{gakuseikanri.ename}}"></imput>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">電話番号:</label>
                <div class="col-sm-4">
                    <imput type="text" name="enumber" id="id_enumber" required maxlength="15" value="{{gakuseikanri.enumber}}"></imput>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-4">
                    <imput type="email" name="eemail" id="id_eemail" required maxlength="254" value="{{gakuseikanri.eemail}}"></imput>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">更新</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>